/**
	* $point : is the pixel value for your major or minor breakpoint
	* $IE9 : is predefined as false, changing this to true would include the IE9 conditional class of CSS
	* $query1 : this is for either min,max, min-device, or max-device defining the first part of the media query. Predefined as min
	* $query2 : this if for either width or height defining the second part of the media query. Predefined as max.
*/
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.cf, .gform_wrapper, .ginput_complex {
  *zoom: 1; }
  .cf:before, .gform_wrapper:before, .ginput_complex:before, .cf:after, .gform_wrapper:after, .ginput_complex:after {
    content: " ";
    display: table; }
  .cf:after, .gform_wrapper:after, .ginput_complex:after {
    clear: both; }

.ir {
  text-indent: 120%;
  overflow: hidden;
  white-space: nowrap; }

.clear {
  clear: both; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /*
   * Extends the .visuallyhidden class to allow the element to be focusable
   * when navigated to via the keyboard: h5bp.com/p
   */ }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: underline; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 70%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
  vertical-align: middle; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: vertical; }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

::-moz-selection {
  background: #ff0800;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #ff0800;
  color: #fff;
  text-shadow: none; }

.preload,
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  color: #222222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25; }
  @media (min-width: 900px) {
    body {
      line-height: 1.375; } }

a, a:visited {
  color: #bada55; }
  a:hover, a:visited:hover {
    color: #222222; }
  a:focus, a:visited:focus {
    outline: thin dotted; }

h1, h2, h3,
h4, h5, h6,
.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin: 0;
  font-weight: normal; }
  h1 a, h2 a, h3 a,
  h4 a, h5 a, h6 a,
  .h1 a, .h2 a, .h3 a,
  .h4 a, .h5 a, .h6 a {
    text-decoration: none; }

h1, .h1 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.25; }
  @media (min-width: 900px) {
    h1, .h1 {
      font-size: 25px;
      font-size: 2.5rem;
      line-height: 1.125; } }
  @media (min-width: 1024px) {
    h1, .h1 {
      font-size: 30px;
      font-size: 3rem;
      line-height: 1.05; } }

h2, .h2 {
  font-size: 16.25px;
  font-size: 1.625rem;
  line-height: 1.15385615; }
  @media (min-width: 900px) {
    h2, .h2 {
      font-size: 20px;
      font-size: 2rem;
      line-height: 1.25; } }
  @media (min-width: 1024px) {
    h2, .h2 {
      font-size: 30px;
      font-size: 3rem;
      line-height: 1.05; } }

h3, .h3 {
  font-size: 13.75px;
  font-size: 1.375rem;
  line-height: 1.13636364; }
  @media (min-width: 900px) {
    h3, .h3 {
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 1.25; } }
  @media (min-width: 1024px) {
    h3, .h3 {
      font-size: 17.5px;
      font-size: 1.75rem;
      line-height: 1.25; } }

h4, .h4 {
  font-size: 11.25px;
  font-size: 1.125rem;
  line-height: 1.1111111; }
  @media (min-width: 900px) {
    h4, .h4 {
      line-height: 1.2222222; } }

h5, .h5 {
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.25; }

p {
  margin: 0 0 10px;
  margin: 0 0 1rem; }

ul, ol {
  margin: 0 0 10px;
  margin: 0 0 1rem;
  padding: 0 0 0 20px;
  padding: 0 0 0 2rem; }

li {
  list-style-position: outside;
  margin: 0 0 5px;
  margin: 0 0 .5rem; }
  li:last-child {
    margin-bottom: 0; }

blockquote {
  position: relative;
  clear: both; }
  blockquote p {
    color: #666666;
    font-size: 12.5px;
    font-size: 1.25rem;
    line-height: 1.25; }
    @media (min-width: 900px) {
      blockquote p {
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 1.4583333; } }

.gform_button,
.btn {
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  display: inline-block;
  position: relative;
  margin: 5px 0;
  margin: .5rem 0;
  padding: 5px 10px;
  padding: .5rem 1rem;
  background: #ff0800;
  color: #fff; }
  .gform_button:hover,
  .btn:hover {
    background: #eb0700;
    color: #fff; }

.wp-caption {
  position: relative; }
  .wp-caption.alignleft {
    float: left;
    margin: 0 27px 20px 0; }
    @media (min-width: 768px) {
      .wp-caption.alignleft {
        float: none; } }
  .wp-caption.alignright {
    float: right;
    margin: 0 0 20px 27px; }
    @media (min-width: 768px) {
      .wp-caption.alignright {
        float: none; } }
  .wp-caption .wp-caption-text {
    background: #f2f2f2;
    border-top: 1px solid #fff;
    padding: 13px 20px;
    color: #7a7a7a;
    font-size: 12px;
    font-size: 1.2rem; }

.wp-caption {
  outline: none; }

.wp-caption-text {
  outline: none; }

.sticky {
  outline: none; }

.gallery-caption {
  outline: none; }

.bypostauthor {
  outline: none; }

.alignright {
  outline: none;
  float: right; }

.alignleft {
  outline: none;
  float: left; }

.aligncenter {
  outline: none;
  margin: 0 auto; }

.gform_wrapper .gform_ajax_spinner {
  width: auto !important;
  margin-left: 10px; }

.gform_validation_container {
  display: none !important; }

.validation_error {
  background: #ff0800;
  color: #fff;
  padding: 3px 5px; }

.validation_message {
  color: #ff0800;
  position: absolute;
  top: 22px;
  right: 5px; }

.gform_fields {
  margin: 20px 0 0;
  padding: 0; }
  .gform_fields [class*="ico-"]:before {
    color: #999999; }

.gfield {
  position: relative;
  margin: 0 0 1.35;
  list-style: none; }
  .gfield .gfield_label {
    display: inline-block;
    margin-bottom: 3px; }
  .gfield .gfield_required {
    display: none; }

.gfield_checkbox,
.gfield_radio {
  margin: 5px 0;
  padding: 0 0 0 10px; }
  .gfield_checkbox li,
  .gfield_radio li {
    margin: 0 0 5px; }
  .gfield_checkbox label,
  .gfield_radio label {
    margin: 0 0 0 4px; }

.ginput_complex .ginput_left {
  margin-right: 4%; }
.ginput_complex .ginput_right,
.ginput_complex .ginput_left {
  display: block;
  float: left;
  width: 48%;
  position: relative; }
  @media (min-width: 480px) {
    .ginput_complex .ginput_right,
    .ginput_complex .ginput_left {
      float: none;
      width: 100%;
      margin: 0 0 10px; } }
  .ginput_complex .ginput_right input,
  .ginput_complex .ginput_right label,
  .ginput_complex .ginput_left input,
  .ginput_complex .ginput_left label {
    display: block; }
  .ginput_complex .ginput_right label,
  .ginput_complex .ginput_left label {
    margin-top: 2px;
    color: #666666; }

.protected-post-form p {
  width: 300px; }

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=search],
input[type=url],
textarea {
  padding: 5px 10px;
  background: #f2f2f2;
  color: #999999;
  border: 1px solid #999999; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=tel]:focus,
  input[type=search]:focus,
  input[type=url]:focus,
  textarea:focus {
    background: #fff;
    color: #333333;
    outline: none;
    border: 1px solid #333333; }

.main-nav {
  position: relative; }
  .main-nav .sub-menu {
    transition: all .2s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80%;
    z-index: 100;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
    .main-nav .sub-menu li {
      display: block; }
    .main-nav .sub-menu a {
      line-height: 28px;
      font-size: 12px; }
      .main-nav .sub-menu a:before {
        display: none; }
  .main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left; }
  .main-nav li {
    display: inline-block;
    list-style: none;
    margin: 0;
    width: 100%; }
    @media (min-width: 480px) {
      .main-nav li {
        width: auto; } }
    .main-nav li:hover {
      color: #ff0800; }
      .main-nav li:hover .sub-menu {
        opacity: 1;
        visibility: visible; }
  .main-nav a {
    font-size: 14px;
    font-size: 1.4rem;
    transition: all .2s ease;
    display: block;
    position: relative;
    text-decoration: none;
    outline: none;
    color: #333333;
    padding: 0 10px;
    padding: 0 1rem; }
    .main-nav a:hover {
      color: #ff0800; }
  .main-nav .current-menu-item > a,
  .main-nav .current_page_parent > a,
  .main-nav .current-menu-parent > a,
  .main-nav .current_page_item > a {
    color: #ff0800; }

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

    /*
* Don't show links for images, or javascript/internal links
*/
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
