@mixin bp($point) {
  @if $point == hippo {
    @media (max-width: 1600px) { @content; }
  }
  @if $point == zebra {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == meerkat {
    @media (max-width: 870px)  { @content; }
  }
  @else if $point == snail {
    @media (max-width: 490px)  { @content; }
  }
}

@mixin triangle($direction, $color, $size) {

  @if $direction == "left" {
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == "right" {
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == "up" {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if $direction == "down" {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid $color;
  }

  height: 0;
  width: 0;
}       


@mixin fontsize($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}