@mixin breakpoint($point) {
  @if $point == hippo {
    @media (max-width: 1600px) { @content; }
  }
  @if $point == zebra {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == meerkat {
    @media (max-width: 870px)  { @content; }
  }
  @else if $point == snail {
    @media (max-width: 490px)  { @content; }
  }
}

@mixin sans-serif() {
  font-family: "proxima-nova", sans-serif;
}

@mixin proxima() {
  font-family: "proxima-nova", sans-serif;
  font-size: 34px;
  letter-spacing:3px;
  word-spacing:4px;
}

@mixin facit() {
  font-family: "jaf-facitweb",sans-serif;
  font-size: 34px;
  letter-spacing:2px;
  word-spacing:2px;
}

@mixin clarendon() {
  font-family: "superclarendon",serif;
  font-size:29px;
  letter-spacing:1px;
  word-spacing:1px;
}

@mixin skolar() {
  font-family: "skolar",serif;
  font-size:32px;
  letter-spacing:4px;
  word-spacing:1px;
}

@mixin chap() {
  font-family: "chaparral-pro",sans-serif;
  font-size:35px;
  letter-spacing:3px;
  word-spacing:2px;
}