.main-nav {
	position: relative;

	.js & {
		clip: rect(0 0 0 0);
		max-height: 0;
		position: absolute;
		display: block;
		overflow: hidden;
	  @include bp( s ) {
	  	position: relative;
	    max-height: none;
	    @include span-columns(2);
	    @include omega;
	    float: right;
	    text-align: right;
	    margin-top: 1.25em;
	  }
	  @include bp( m ) {
	  	margin-top: 1em;
	  }
	  @include bp( l ) {
	  	margin-top: .9em;
	  }
	  @include bp( xl ) {
			padding-right: 5%;
		}
	}
	&.opened {
		max-height: 9999px;
	}

	.lt-ie8 & {
		z-index: 100;
	}

	.sub-menu {
		@include transition( all .2s ease );
		@include opacity(0);
		visibility: hidden;
		position: absolute;
		top: 80%;
		z-index: 100;
		background: #fff;
		-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
		box-shadow: 0 0 4px rgba(0,0,0,0.4);

		.no-boxshadow & {
			border: 1px solid #ddd;
		}

		.lt-ie8 & {
			visibility: visible;
			@include opacity(1);
			display: none;
			left: 0;
		}

		li {
			display: block;
		}

		a {
			line-height: 28px;
			font-size: 12px;

			&:before {
				display: none;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		float: left;
	}
	li {
		@include inline-block;
		list-style: none;
		margin: 0;
		width: 100%;
		@include bp( s ) {
			width: auto;
		}

		.lt-ie8 & {
			position: relative;
			z-index: 100;
		}

		&:hover {
			color: $red;
			.sub-menu {
				@include opacity(1);
				visibility: visible;

				.lt-ie8 & {
					display: block;
					z-index: 100;
				}
			}
		}

	}
	a {
		@include font-size(1.4);
		@include transition( all .2s ease );
		display: block;
		position: relative;
		text-decoration: none;
		outline: none;
		color: $c3;
		padding: 0 1em;

		&:hover {
			color: $red;
		}

	}
	&.current-menu-item > a,
	&.current_page_parent > a,
	&.current-menu-parent > a,
	&.current_page_item > a {
		color :$red;
	}

}