.main-nav {
	position: relative;

	.sub-menu {
		transition: all .2s ease;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 80%;
		z-index: 100;
		background: #fff;
		box-shadow: 0 0 4px rgba(0,0,0,0.4);

		li {
			display: block;
		}

		a {
			line-height: 28px;
			font-size: 12px;

			&:before {
				display: none;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		float: left;
	}
	li {
		display: inline-block;
		list-style: none;
		margin: 0;
		width: 100%;
		@include bp( 480px ) {
			width: auto;
		}

		&:hover {
			color: $red;
			.sub-menu {
				opacity: 1;
				visibility: visible;
			}
		}

	}
	a {
		@include fs(1.4);
		transition: all .2s ease;
		display: block;
		position: relative;
		text-decoration: none;
		outline: none;
		color: $c3;
		padding: 0 10px;
		padding: 0 1rem;

		&:hover {
			color: $red;
		}

	}
	.current-menu-item > a,
	.current_page_parent > a,
	.current-menu-parent > a,
	.current_page_item > a {
		color :$red;
	}

}

