*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  @include transform(translateZ(0));
}

a {
  color: $heading;
}


#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-wrap {
  position: relative;
  text-align: center;
  height:100%;

  &.content_toggle {
    position: static;
    text-align:left;
    &:before {
      display:none;
    }
    .centered {
      width: 50px;
      height: 50px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 25px;
      left: 25px;
      text-indent:50px;
      white-space:nowrap;
    }
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  .centered {
    @include transition(all .3s ease);
    @include sans-serif();
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 62%;
    max-width: 550px;
    font-weight: 300;
    box-shadow: 0 0 3px rgba(black, 0.35);
    padding: 50px;
    background: rgba(white, .8);

    body:hover & {
      @include opacity(1);
      @include transition(all .3s ease);
    }

    @include breakpoint(meerkat) { 
      @include opacity(1);
      width: 82%; 
      padding: 30px;
    };

    ul {

      li {
        list-style: none;
        position: relative;
        padding-left: 16px;
        margin-bottom:5px;

        &:before {
          content: '\2764';
          color: $heading;
          font-size: 12px;
          position: absolute;
          top: 4px;
          left: 0;
          text-shadow:1px 1px 0 white;
        }
      }
    }

   }

}

.header {
  h1 {
    font-size: 70px;
    font-weight:700;
    margin: 0;
    line-height:.87;
    color: $heading;
    text-transform:lowercase;
    text-shadow: 0 1px 0 #fff;
    letter-spacing:-3px;
    a {
      text-decoration: none;
      color: $heading;

      &:hover {
        color: $headingHover;
      }
    }
    small {
      margin: 0 1px;
    }
    @include breakpoint(meerkat) { 
      text-align:center;
      line-height:.6;
      small {
        display:block;
        line-height:1;
        margin-bottom:-11px;
        font-weight:300;
      }
    }
  }
  h2 {
    text-transform:uppercase;
    margin: 6px 0 10px;
    color: hsl(190, 33%, 13%);
    text-shadow: 0 1px 0 white;
    @include facit();
    
    @include breakpoint(meerkat) {
      font-size:22px;
      letter-spacing:0;
      text-align:center;
      margin-top:20px;
    }
  }
}

#content_toggle {
  @include transition(all .3s ease);
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration:none;
  font-family: "jaf-facitweb",sans-serif;
  font-size: 18px;
  width: 40px;
  height:40px;
  line-height:40px;
  text-align:center;
  text-indent:0;

  &:hover {
    background: lighten( $heading, 20% );
    color: #fff;
  }

}


#controls {
  @include opacity(.7);
//  @include transition(all .15s ease);
  @include sans-serif();
  font-weight:300;
  box-shadow: 0 0 3px rgba(black, 0.35);
  position: absolute;
  background: #fff;
  z-index: 10;
  bottom: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  &:hover {
    @include opacity(1);
  }
  @include breakpoint(snail) { 
    display:none;
  }

  &.active {
    @include opacity(1);
    width: 130px;
    height: 60px;

    a {
      display:none;
    }
    ul {
      display:block;
    }
  }

  a {
    text-decoration:none;
  }
  ul {
    display:none;
    position: relative;
    margin: 0;
    padding: 0;
    top: -5px;
    left: 3px;

    li {
      width: 22px;
      height: 22px;
      border-radius: 3px;
      background: #d7d7d7;
      list-style: none;
      margin: 1px;
      display: inline-block;
      position: relative;
      top: 26px;
      text-indent: 23px;
      overflow: hidden;
      white-space: nowrap;

      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 5px;
        width: 0;
        height: 0;

      }

      &:hover,
      &.hover {
        background:#494949;
      }

      &.left {
        left: 14px;
        &:before {
          top: 5px;
          left: 8px;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent; 
          border-right: 6px solid #fff; 
        }
      }
      &.up {
        top: 0;
        left: 12px;
        &:before {
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #fff;
        }
      }
      &.down {
        right: 16px;
        &:before {
          top: 9px;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid #fff;
        }
      }
      &.right {
        right: 18px;
        &:before {
          top: 5px;
          left: 9px;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid #fff;
        }
      }
    }
  }
}



.footer {
  display:none;
}
#credit {
  background: transparent;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}