@function containsModifier($selector) {
	$selector: selectorToString($selector);
	//@debug "Selector: " $selector;
	@if str-index($selector, $modifierSeparator) {
		@return true;
	} @else {
		@return false;
	}
}

@function selectorToString($selector) {
	$selector: inspect($selector); //cast to string
	//@debug "Selctor: " $selector;
	$selector: str-slice($selector, 2, -3); //remove brackets
	//@debug "Selctor: " $selector;
	@return $selector;
}

@function getBlock($selector) {
	$selector: selectorToString($selector);
	$modifierStart: str-index($selector, $modifierSeparator);
	//@debug "Modifier Start: " $modifierStart;
	@if ( type_of($modifierStart) == number ) {
		@return str-slice($selector, 0, $modifierStart);
	} @else {
		@return $selector;
	}
}





@function palette($palette, $tone: 'base') {
	@return map-get(map-get($palettes, $palette), $tone);
}

@function ff($family: 'body') {
	@return unquote(map-get($fonts,$family));
}


@function first($list) {
  @return nth($list, 1);
}

@function last($list) {
  @return nth($list, length($list));
}


@function lower-bound($range){
	@if length($range) <= 0 {
		@return 0;
	}
	@return nth($range,1);
}

@function upper-bound($range) {
	@if length($range) < 2 {
		@return 9999999;
	}
	@return nth($range, 2);
}
