.clear {
	margin-left: 0;
	clear: both;
}


%cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


%ir {
	text-indent: 120%;
	overflow: hidden;
	white-space: nowrap;
}


%btn {
	display:inline-block;
	vertical-align:middle;
	white-space:nowrap;
	cursor:pointer;
	margin:0;
	border-radius: 0;
	text-decoration: none;
	font-family: ff('headings');
	box-sizing: border-box;
	font-size: .875em; // 16px at 100%
	line-height: 1;
	border: 0;
	padding: .75rem 2rem;

	&:hover, &:active, &:focus, &:visited {
		text-decoration: none;
	}
	&:active, &:focus {
		outline:none;
	}
}



/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

%hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

%visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	/*
	 * Extends the .visuallyhidden class to allow the element to be focusable
	 * when navigated to via the keyboard: h5bp.com/p
	 */

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}



/*
 * Hide visually and from screenreaders, but maintain layout
 */

%invisible {
	visibility: hidden;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
