// Set Grid (1170gs default)
$column-width: 70px;
$gutter: 30px;
$columns: 12;
$padding: $gutter / 2;
$gutter-compensation: ( ($gutter/2) * -1 );

$width: ($column-width * $columns) + ($gutter * ($columns - 1));

$gutter-percentage: ($gutter / $width)*100%;
$padding-percentage: ($gutter-percentage / 2);


$elementSeparator: '__';
$modifierSeparator: '--';


$fonts: (
	nav : "Novecentosanswide-DemiBold, sans-serif",
	body : "nimbus-sans, sans-serif",
	headings : "open-sans, Georgia",
);


$columnpoints: (
	'xs': max 500px,
	'sm': 500px,
	'md': 768px,
	'lg': 1024px,
	'xl': 1340px,
);

$breakpoints: (
	'sm': 500px,
	'md': 768px,
	'lg': 1024px,
	'xl': 1340px,
);

$rootsizes: (
  rootsize-0: 18,
  rootsize-1: 17,
  rootsize-2: 16,
  rootsize-3: 17,
  rootsize-4: 18
);

$points: map-keys($columnpoints);
$sizes: map-values($rootsizes);

$palettes: (
	brand: (
	),
	grey: (
		100: #F8F8F8,
		200: #F9F7F1,
		500: #9B9B9B,
		600: #4A4A4A,
	),
	error: (
		500: #FA1E1D,
	)
);


$colors: (
	'brand': #FA1E1D,
	'beige': #E1D5B7,
	'green': #00A958,
	'yellow': #FFC618
);

$social: (
	facebook : #0053a3,
	twitter  : #0095d6,
	linkedin : #4d83c3,
	googplus : #dd4b39,
	youtube  : #cd201f,
	instagram: #517fa4,
	pinterest: #cb2027,
	vimeo    : #aad450,
	rss      : #ff9900,
);
