// Set Grid (1170gs default)
$column-width: 70px;
$gutter: 30px;
$columns: 12;
$padding: $gutter / 2;
$gutter-compensation: ( ($gutter/2) * -1 );

$width: ($column-width * $columns) + ($gutter * ($columns - 1));

$gutter-percentage: ($gutter / $width)*100%;
$padding-percentage: ($gutter-percentage / 2);


$elementSeparator: '__';
$modifierSeparator: '--';


$fonts: (
	nav : "Novecentosanswide-DemiBold, sans-serif",
	body : "nimbus-sans, sans-serif",
	headings : "open-sans, Georgia",
);


$columnpoints: (
	'xs': max 500px,
	'sm': 500px,
	'md': 768px,
	'lg': 1024px,
	'xl': 1340px,
);

$breakpoints: (
	'sm': 500px,
	'md': 768px,
	'lg': 1024px,
	'xl': 1340px,
);

$rootsizes: (
  rootsize-0: 18,
  rootsize-1: 17,
  rootsize-2: 16,
  rootsize-3: 17,
  rootsize-4: 18
);

$points: map-keys($columnpoints);
$sizes: map-values($rootsizes);

$colors: (
	brand: #70242D,
	red: #70242D,
	gold: #FFAD2E,
	teal: #285863,
	green: #A3AF99,
	blue: #C7EFEF,
	pink: #F77465,
	grey: #808080,
);
$color_values: map-values($colors);
$color_names: map-keys($colors);

$tints: (
	600: 80%,
	700: 60%,
	800: 40%,
	900: 20%
);
$shades: (
	100: 20%,
	200: 40%,
	300: 60%,
	400: 80%
);

$t_keys : map-keys($tints); //900,800,700,600
$t_vals : map-values($tints); //20%,40%,60%,80%
$s_keys : map-keys($shades);
$s_vals : map-values($shades);

$palettes: (
	error: (
		base: #ff0000,
	)
);


$palettes: generate-color-palette($palettes);


$social: (
	facebook : #0053a3,
	twitter  : #0095d6,
	linkedin : #4d83c3,
	googplus : #dd4b39,
	youtube  : #cd201f,
	instagram: #517fa4,
	pinterest: #cb2027,
	vimeo    : #aad450,
	rss      : #ff9900,
);
