.gform_wrapper {

	.use-placeholders .gfield_label {
		@extend %visuallyhidden;
	}

}


.gform_validation_container {
  display: none !important;
}

.gfield_creditcard_warning_message,
.validation_error {
  color: #f80000;
  //padding: .5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.validation_message {
  position: absolute;
  top: 22px;
  right: 5px;
  display: none;
}

.gform_fields {
  margin: 0;
  padding: 0;
}

.gfield {
  position: relative;
  list-style: none;
  margin: 0;

  &.show_label .gfield_label {
  	display: block;

  }

  .gfield_label {
    //display: inline-block;
    margin-bottom: 3px;
    font-weight: 600;
    display: none;
  }
  // .gfield_required {
  //   display: none;
  // }
}

.gfield_error {
	.gfield_checkbox, .gfield_radio {
		border: 1px solid #f80000;
	}
}

.gfield_checkbox,
.gfield_radio {
  margin: 1rem 0 2rem;
  padding: 0;
	list-style: none;

	li {
		margin: 0 0 1rem;
	}

	.inline_values & li {
		margin: 0 0 1rem 2rem;
		display: inline-block;
		&:first-child {
			margin-left: 0;
		}
	}

	label {
		//font-size: .8333rem;
		margin-left: 3px;
	}


}
.gfield_radio label {
	margin-left: 5px;
}

.ginput_complex {
	display: flex;
	flex-wrap: wrap;

  .name_first,
  .name_last,
	.ginput_full,
  .ginput_right,
  .ginput_left {
  	flex: 0 1 auto;
    flex-basis: 50%;
	  max-width: 50%;

    @include bp(max sm) {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
      margin: .5rem 0 0;
    }

  }

  .ginput_full {
  	flex: 100%;
  	max-width: none;
  }
  .name_first,
  .ginput_left {
  	@include bp(sm) {
  		padding-right: 1.5rem;
  	}
  }
	.name_last,
  .ginput_right {
  	@include bp(sm) {
  		padding-left: 1.5rem;
  	}
  }

  .ginput_full.ginput_cardextras {
		flex-basis: 100%;
  	max-width: 100%;
  	width: 100%;
  	margin-top: .5rem;

  	.ginput_cardinfo_left,
  	.ginput_cardinfo_right {
  		display: inline-block;
  		width: auto;
  	}
  	.ginput_cardinfo_right {
  		margin-top: .5rem;
  		@include bp(sm) {
  			margin-top: 0;
	  		margin-left: 1rem;
	  	}
  	}
  	label {
  		display: block;
  	}
  }

	label {
		display: none;
		// margin: 3px 0 0 2px;
	 //  font-size: .7778rem;

	  // .field_sublabel_above & {
	  // 	font-size: .8333rem;
	  // 	margin: 0 0 3px 2px;
	  // 	font-weight: 600;
	  // }
	}
}
