@include b(container) {
	// Set container width if responsive
	max-width: $width;

	padding: 0 5%;
	@include bp(xl) {
		padding: 0;
	}
	margin: 0 auto;
	@extend %cf;


	@include m(relative) {
		position: relative;
	}

}

@include b(row) {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	//flex-wrap: wrap;
	//margin-right: $gutter-compensation;
	//margin-left: $gutter-compensation;

	@include b(row) {
		margin-right: $gutter-compensation;
		margin-left: $gutter-compensation;
	}

	&.reverse {
		flex-direction: row-reverse;
	}

	@include m(v-center) {
		align-items: center;
	}


	.no-flexbox & {
		margin-left: 0;
		margin-right: 0;
		display: block;
		@include bp(sm) {
			margin-left: -$padding;
			margin-right: -$padding;
		}
		@extend %cf;
		@include bp(xs) {
			max-width: 100%;
		}
	}
}

.col {
	flex-direction: column;
	display: flex;
	&.reverse {
		flex-direction: column-reverse;
	}
}



[class*=col--] {
	// display: flex;
	flex: 0 1 auto;
	// flex-direction: column;
	// flex-grow: 0;
	// flex-shrink: 0;
	padding-right: $padding;
	padding-left: $padding;

	.no-flexbox & {
		width: 100%;
		// padding-left: $padding;
		// padding-right: $padding;
		position: relative;
		@include bp(sm) {
			float: left;
		}
	}
}





@for $i from 1 through length($columnpoints) {
	$keys : map-keys($columnpoints);
	$size : nth( $keys, $i );

	@include bp( $size ) {
		@include make-grid($columns, $size);

		.col-#{$size} {
			flex-grow: 1;
			flex-basis: 0;
			max-width: 100%;
		}

		.start-#{$size} {
			justify-content: flex-start;
			text-align: start;
		}

		.center-#{$size} {
			justify-content: center;
			text-align: center;
		}

		.end-#{$size} {
			justify-content: flex-end;
			text-align: end;
		}

		.top-#{$size} {
			align-items: flex-start;
		}

		.middle-#{$size} {
			align-items: center;
		}

		.bottom-#{$size} {
			align-items: flex-end;
		}

		.around-#{$size} {
			justify-content: space-around;
		}

		.between-#{$size} {
			justify-content: space-between;
		}

		.first-#{$size} {
			order: -1;
		}

		.last-#{$size} {
			order: 1;
		}
	}
}
