.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	.dropdown-menu {
		a {
			color: #fff;
			text-transform: capitalize;
			border: 0;
			&:hover, &:focus {
				background-color: #000;
				color: #fff;
			}

			&.mobile-only {
				@include bp(820px) {
					display: none;
				}
			}
		}
	}

	li {
		position: relative;
		display: inline-block;
		list-style: none;
		margin: 0;
		width: 100%;
		@include bp(820px) {
			width: auto;
			&:hover {
				.dropdown-menu {
					display: block;
				}
			}
		}
	}

	a {
		display: block;
		position: relative;
		outline: none;
		color: #fff;
		transition: all .2s ease;
		padding: 0 1.5rem;
		text-decoration: none;
		line-height: 3.6rem;
	}
}


.site__utils {
	a {
		background-color: $green;
		margin: 0 1.5rem;
	}
}

.site__nav {
	position: relative;
	background-color: $blue;

	.collapse {
		@include bp(820px) {
			display: flex !important;
			height: auto !important;
		}
	}

	a {
		background-color: transparent;

		&:hover {
			background-color: $green;
		}
	}

	.current-menu-item > a,
	.current_page_parent > a,
	.current-menu-parent > a,
	.current_page_item > a {
		color: $barnd;
	}

}




.navbar-toggler {
	margin-right: 1rem;
	padding: .5rem .75rem;
	font-size: 3.2rem;
	line-height: 1;
	background: none;
	border: 1px solid transparent;
	border-radius: 3px;
	color: $blue;
	position: absolute;


	@include bp(820px) {
		display: none;
	}

	&:hover, &:focus {
	  text-decoration: none;
	}
}