.main-nav {
	position: relative;

	.js & {
		clip: rect(0 0 0 0);
		max-height: 0;
		position: absolute;
		display: block;
		overflow: hidden;
		@include bp(sm) {
			position: relative;
			max-height: none;
			overflow: visible;
			padding-bottom: 5px;
		}
		&.opened {
			max-height: 900px !important;
			overflow: visible;
		}
	}

	.sub-menu {
		transition: all .2s ease;
		display: none;
		position: absolute;
		top: 90%;
		z-index: 100;
		background: #fff;
		//box-shadow: 0 0 4px rgba(0,0,0,0.4);

		li {
			display: block;
		}

		a {
			line-height: 28px;
			@include fs(1.2);

			&:before {
				display: none;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		float: left;
	}
	li {
		position: relative;
		display: inline-block;
		list-style: none;
		margin: 0;
		width: 100%;
		@include bp( xs ) {
			width: auto;
		}

		&:hover {
			color: $red;
			.sub-menu {
				display: block;
			}
		}

		.sub-menu {
			display: none;
			&.open {
				display: block;
				@include bp(sm) {
					display: none;
				}
			}
		}

		.nav-arrow {
			padding: 0 1rem;
			display: inline-block;
			color: #000;
			transition: transform .2s ease;
			svg {
				fill: #000;
				width: 17px;
				vertical-align: middle;
				pointer-events: none;
			}

			&:hover {
				color: $red;
				svg {
					fill: $red;
				}
			}

			@include bp(sm) {
				display: none;
			}
		}
		&.open .nav-arrow {
			transform: rotate(180deg);
		}

	}
	a {
		@include fs(1.4);
		transition: all .2s ease;
		display: block;
		position: relative;
		text-decoration: none;
		outline: none;
		color: $c3;
		padding: 0 10px;
		padding: 0 1rem;

		&:hover {
			color: $red;
		}

	}
	.current-menu-item > a,
	.current_page_parent > a,
	.current-menu-parent > a,
	.current_page_item > a {
		color :$red;
	}

}



.main-nav .nav-toggle {
	//position: absolute;
	//top: 14px;
	float: left;
	right: 0;
	padding: 9px 10px;
	background-color: transparent;
	border: 1px solid transparent;
	display: inline-block;
	z-index: 100;

	// @media (max-width: $screen-xs-min) {
		// top: -40px;
	// }
	
	@include bp(sm) {
		display: none;
	}

	// Bars
	.icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background: #000;
	}
	.icon-bar + .icon-bar {
		margin-top: 4px;
	}

	&:hover .icon-bar {
		background: $red;
	}
}
