h1,h2,h3,
h4,h5,h6 {
	font-family: ff(headings);
	margin: 0;
	font-weight: normal;
	font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	a {
		text-decoration: none;
	}
}
h1 {
	font-size: 1.57em; /* equiv 30px at desktop (118.75% => 19px) */
	line-height: 1.6908;
	margin: 0 0 .8454em 0;
}
h2 {
	font-size: 1.157em; /* equiv 22px */
	line-height: 1.8316;
	margin: 0 0 .9158em 0;
}
h3 {
	font-size: 1.053em; /* equiv 20px */
	line-height: 1.2211;
	margin: 0 0 1.2211em 0;
}
h4 {
	font-size: 0.842em; /* equiv 16px */
	line-height: 1.3738;
	margin: 0 0 1.3738em 0;
}
h5 {
	font-size: 0.7368em; /* equiv 14px */
	line-height: 1.4653;
	margin: 0 0 1.4653em 0;
}
h6 {
	font-size: 0.6842em; /* equiv 14px */
	text-transform: uppercase;
	line-height: 1.57;
	margin: 0 0 1.57em 0;
}
