h1,h2,h3,
h4,h5,h6 {
	font-family: $headings;//ff(headings);
	margin: 0;
	font-weight: normal;
	font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	a {
		text-decoration: none;
	}
}
h1 {
	font-size: 1.57rem;
	line-height: 1.6908;
	margin: 0;
}
h2 {
	font-size: 1.157rem;
	line-height: 1.8316;
	margin: 0;
}
h3 {
	font-size: 1.053rem;
	line-height: 1.2211;
	margin: 0;
}
h4 {
	font-size: 0.842rem;
	line-height: 1.3738;
	margin: 0;
}
h5 {
	font-size: 0.7368rem;
	line-height: 1.4653;
	margin: 0;
}
h6 {
	font-size: 0.6842rem;
	text-transform: uppercase;
	line-height: 1.57;
	margin: 0;
}
