input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=search],
input[type=url],
textarea {
  padding: 5px 10px;
  background: #f2f2f2;
  color: $c9;
  border: 1px solid $c9;

  &:focus {
    background: #fff;
    color: $c3;
    outline: none;
    border: 1px solid $c3;
  }

}