input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=search],
input[type=url],
textarea {
  padding: 5px 10px;
  background: #f2f2f2;
  color: palette(grey);
  border: 1px solid palette(grey);

  &:focus {
    background: #fff;
    color: palette(grey);
    outline: none;
    border: 1px solid palette(grey);
  }

}
