*,*:before,*:after {
	box-sizing: border-box;
}

::-moz-selection {
	background: palette(error);
	color: #fff;
	text-shadow: none;
}
::selection {
	background: palette(error);
	color: #fff;
	text-shadow: none;
}

.preload,
.preload * {
	transition: none !important;
}

html {
	position: relative;
	min-height: 100%;
	font-size: nth($sizes, 1) / 16 * 100%;

	// Loop through columnpoints.
	@for $i from 2 through length($columnpoints) {
	  @include bp(nth($points, $i)) {
			font-size: nth($sizes, $i) / 16 * 100%;
	  }
	}
}

body {
	font-family: ff('body');
	font-size: .875em; // 16px at 100%
	line-height: 1.57;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}


html,body {
	position: relative;
	overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6 {
	font-family: ff('headings');
	font-weight: normal;
}

h1 {
	font-size: 1.8571em; /* equiv 26px */
	line-height: 1.6908;
	margin: 0 0 .8454em 0;
}
h2 {
	font-size: 1.7143em; /* equiv 24px */
	line-height: 1.8316;
	margin: 0 0 .9158em 0;
}
h3 {
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.2211;
	margin: 0 0 1.2211em 0;
}
h4 {
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3738;
	margin: 0 0 1.3738em 0;
}
h5 {
	font-size: 1.0714em; /* equiv 15px */
	line-height: 1.4653;
	margin: 0 0 1.4653em 0;
}
h6 {
	font-size: 1em; /* equiv 14px */
	line-height: 1.57;
	margin: 0 0 1.57em 0;
}
