*,*:before,*:after {
	box-sizing: border-box;
}

::-moz-selection {
	background: $red;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: $red;
	color: #fff;
	text-shadow: none;
}

.preload,
.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

html {
	position: relative;
	min-height: 100%;
	font-size: 62.5%;
}

body {
	font-family: sans-serif;
	color: $textcolor;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


p {
	@include rempx('margin-bottom', 1);
}


blockquote {
	position: relative;
	clear: both;
}


.alignright {
	float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	display: inline-block;
	margin: 0 auto;
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}