// Set Grid (1170gs default)
$column-width: 70px;
$gutter: 30px;
$columns: 12;
$padding: $gutter / 2;

// Should it be responsive?
$responsive: true;

$pad: $padding;

$_color-base-grey: rgb(229,231,234);

$palettes: (
	purple: (
		base:   rgb(42,40,80),
		light:  rgb(51,46,140),
		dark:   rgb(40,38,65)
	),
	grey: (
		base:  $_color-base-grey,
		light: lighten($_color-base-grey, 10%),
		dark: darken($_color-base-grey, 10%)
	)
);

$c0 : #000;
$c3 : #333;
$c6 : #666;
$c9 : #999;

$blue : #0000ff;

$facebook : #0053a3;
$twitter  : #0095d6;
$linkedin : #4d83c3;
$googplus : #d8521d;


$red : invert($blue); //#ff0800;

$textcolor: #222;
$linkcolor: $red;
$linkcolorhover: $textcolor;


$fontsize: 1.4;
$baselineheight: 1.35;