// Set Grid (1170gs default)
$column-width: 70px;
$gutter: 30px;
$columns: 12;
$padding: $gutter / 2;

// Should it be responsive?
$responsive: true;

$pad: $padding;

$c0 : #000;
$c3 : #333;
$c6 : #666;
$c9 : #999;

$blue : #0000ff;

$facebook : #0053a3;
$twitter  : #0095d6;
$linkedin : #4d83c3;
$googplus : #d8521d;


$red : invert($blue); //#ff0800;

$textcolor: #222;
$linkcolor: $red;
$linkcolorhover: $textcolor;


$fontsize: 1.4;
$baselineheight: 1.35;